*.wav
*.mp3
*.ogg
*.ahk
*.log
*.json

elevenlabs_output/*
oldCommands/*
kickProfile/*
other.Commands/*
media_output/*
data/*
node_modules/*

commands/private/*

users.json
.env
cookies.json
elevenlabs_usage.json
